<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= Spree.t("new_store_#{@store_credit.type.demodulize.downcase}")%></h1>

<%= render 'spree/shared/error_messages', :target => @store_credit %>

<h3 data-hook='user-email'>User Email: <%= @store_credit.user.email %></h3>
<h4 data-hook='user-email'>Current Balance: <%= @store_credit.user.store_credits_total %></h4>

<%= form_for [:admin, @user, @store_credit], :as => :store_credit do |f| %>
  <%= f.field_container :amount do %>
    <%= f.label :amount %>*<br />
    <%= f.text_field :amount, :id => "debit_credit_amount" %>
  <% end %>

  <%= f.field_container :payment_mode do %>
    <%= f.label :payment_mode, 'Payment Mode' %>*<br />
    <%= f.select :payment_mode, store_credit_class::PAYMENT_MODE.select { |key, value| value >= 0 }, { :prompt => 'Select' } %>
  <% end %>

  <%= f.field_container :reason do %>
    <%= f.label :reason %>*<br />
    <%= f.text_field :reason %>
  <% end %>

  <%= f.submit :commit, :value => @store_credit.type.demodulize, :class => 'button', :id => 'debit_credit' %>
<% end %>